{% load static %}
<!-- Header -->
<header id="header">
    <div style="background:black;" class="container">

        <div id="logo" class="pull-left">
            <a href="/"><img src="{% static 'images/logo_rat.png'%}" alt="" title=""/></img></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Bell</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="/#about">ИТ Портал</a></li>
                <li><a href="#features">Возможности</a></li>
                <li><a href="#portfolio">Примеры</a></li>
                <li><a href="#team">Команда</a></li>
                <li class="menu-has-children" id="choice"><a href="#choice">Выбрать раздел</a>
                    <ul>
                        <li><a href="/inventory/users">Портал пользователей</a></li>
                        <li><a href="/inventory">Инвентаризация</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                        <li class="menu-has-children"><a href="#">Меню 1</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#contact">Свяжитесь с нами</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container

        <nav class="nav social-nav pull-right d-none d-lg-inline">
          <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>-->
    </div>
</header>
<!-- #header -->