{% load static %}
<!-- Header -->
<header id="header">


        <div id="logo" style="margin-left:10px;" class="pull-left">
            <a href="/#"><img src="{% static 'images/Rat_Logos.png'%}" alt="" title=""/></img></a>
        </div>

        <nav id="nav-menu-container" >
            <ul class="nav-menu">
                <li><a href="/#about">ИТ Портал</a></li>
                <li><a href="/#features">Возможности</a></li>
                <li><a href="/inventory">Инвентаризация</a></li>
                <li><a href="/#team">Управление ЭП</a></li>
                <li><a href="/inventory/access">Запрос на доступ</a></li>
                <li><a href="/#team">Wiki</a></li>
                <li><a href="/relax_portal/panels">ИнфоПанель</a></li>
                <li class="menu-has-children" id="choice"><a href="#choice">Разделы</a>
                    <ul>
                        <li><a href="/inventory/users">Портал пользователей</a></li>
                        <li><a href="/inventory">Инвентаризация</a></li>
                        <li><a href="/inventory/access">Запрос на доступ</a></li>
                        <li><a href="/admin">Админка</a></li>
                        <li class="menu-has-children"><a href="#">Тестовое Меню</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/relax_portal">Полезные ресурсы</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container

        <nav class="nav social-nav pull-right d-none d-lg-inline">
          <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>-->
    </div>
</header>
<!-- #header -->