{% load custom_filters %}
<nav class="nav nav-pills nav-fill my-1">
    {% if request.user.is_authenticated %}
    {% url 'req_index' as url_index %}
    {% url 'multi' as url_index1 %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path or url_index1 == request.path %} active {% endif %}" href="/requests/">Создание запроса</a>
    {% if request.user.userprofile.user_company.company_activator == True %}
    {% if request.user|has_group:"Admin Reestr"%}
    {% url 'all_requests' as url_index %}
    <a id="#" style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/cabinet/">Реестр заявок</a>
    {% endif %}
    {% url 'request_actions' as url_index %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/request_actions/">Заявки на исполнение</a>
    {% url 'accepted_requests' as url_index %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/accepted_requests/">Выполненные заявки</a>
    {% endif %}
    {% url 'my_requests' as url_index %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/personal_cabinet/">Мои заявки</a>

    {% endif %}
</nav>
{% if 'detail' in request.path  %}
<nav class="nav nav-pills nav-fill">
   <p class="nav-item nav-link active">Детализация заявки № {{get_request.id}}</p>
</nav>
{% endif %}