<nav class="nav nav-pills nav-fill my-1">
    {% if request.user.is_authenticated %}
    {% url 'multi' as url_index %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/">Создание запроса</a>
        {% for group in request.user.groups.all %}
    {% if group.name == 'Admin Reestr' %}
    {% url 'all_requests' as url_index %}
    <a id="#" style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/cabinet/">Реестр заявок</a>
    {% endif %}
        {% endfor %}
    {% url 'request_actions' as url_index %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/request_actions/">Заявки на исполнение</a>
    {% url 'completed_requests' as url_index %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/personal_cabinet/">Выполненные заявки</a>
    {% url 'my_requests' as url_index %}
  <a style="border: 1px outset #343a40;" class="nav-item nav-link {% if url_index == request.path %} active {% endif %}" href="/requests/personal_cabinet/">Мои заявки</a>

    {% endif %}
</nav>
{% if 'detail' in request.path  %}
<nav class="nav nav-pills nav-fill">
   <p class="nav-item nav-link active">Детализация заявки № {{get_request.id}}</p>
</nav>
{% endif %}