{% extends "Main_Templates/main_template.html"%}
{% block content %}
{% include "Include_Templates/header.html" %}
{% load static %}
<link type='text/css' href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<div class="w3-sidebar w3-bar w3-gray w3-card" style="width:230px;color:gray;">
    <h5 class="w3-bar-item"><b>Навигация</b></h5>
    <img style="width:100%" src="{% static 'images/line.png'%}">
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Table')">Инвентаризация</button>
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fade')">История изменений</button>
    <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fade2')">Архив</button>
    <img style="width:100%" src="{% static 'images/line.png'%}">
    <input style="margin-left:15px;" type="search" id="Input1" onkeyup="SearchTable()" placeholder="Поиск" autofocus>
</div>
<div style="margin-left:230px;margin-top:30px;">

    <div class="w3-container city w3-animate-right" id="Table">
        <table class="table table-bordered" id="1" style="overflow:scroll;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Владелец ПК</th>
                <th scope="col">Имя ПК</th>
                <th scope="col">Операционная система</th>
                <th scope="col">Процессор</th>
                <th scope="col">Объем памяти</th>
                <th scope="col">Тип Памяти</th>
                <th scope="col">Сетевая карта</th>
                <th scope="col">Мак адресс</th>

            </tr>
            </thead>
            <tbody id="Table1">
            {% for keys in object_list %}
            <tr>
                <td scope="row"><a href="/inventory/pc_details/{{keys.id}}"><b>{{keys.owner}}</b></a></td>
                <td><a href="/inventory/pc_details/{{keys.id}}"><b>{{keys.name_pc}}</b></a></td>
                <td><b>{{keys.os}}</b></td>
                <td><b>{{keys.processor}}</b></td>
                <td><b>{{keys.sum_ram}}</b></td>
                <td><b>{{keys.ram_type}}</b></td>
                <td><b>{{keys.network_card}}</b></td>
                <td><b>{{keys.network_Mac}}</b></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="Fade" class="w3-container city w3-animate-left" style="display:none">
        <p>Переходка в разработке</p>
    </div>
    <div id="Fade2" class="w3-container city w3-animate-left" style="display:none">
        <p>Переходец в разработке</p>
    </div>
</div>


<script>
  // #product a – селектор, выбирающий элементы a в #product (вкладки, при клике на которые нужно отображать соответствующий блок)
  $('#prod a').click(function(e){
    e.preventDefault();
    $(this).tab('show');
  });


</script>
<script>
function openLink(evt, animName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-orange", "");
  }
  document.getElementById(animName).style.display = "block";
  evt.currentTarget.className += " w3-orange";
}


</script>

{% endblock %}

{% block footer %}
<div style="margin-left:230px;margin-top:30px;">
    <footer class="site-footer">
        <div class="bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                        <p class="copyright-text">
                            © Fokin@LAB
                        </p>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/-->
                            Разработано <a href="https://vk.com/grozdoder/">Fokin@Lab</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xs-12 text-lg-right text-center">
                        <ul class="list-inline" id="footer-menu">

                            <li class="list-inline-item">
                                <a href="/#about">Главная страница</a>
                            </li>

                            <li class="list-inline-item">
                                <a href="/#features">Возможности</a>
                            </li>

                            <li class="list-inline-item">
                                <a href="/#team">Команда</a>
                            </li>

                            <li class="list-inline-item">
                                <a href="/#contact">Контакты</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
{%endblock%}

