{% extends "Main_Templates/main_template.html"%}
{% block content %}
{% include "Include_Templates/header.html" %}


<div class="container">
    <ul style="margin-top:10px;margin-right:100px;"><b>
        <a>Меню:</a>
        <div style="float:right;" class="group">
            <label>Поиск</label>
             <input  type="search" onkeyup="SearchTable()" id="Input1">

        </div>
    </b>
    </ul>
</div>
<div class="container">

    <table class="table table-bordered" >
        <thead class="thead-dark">
        <tr>
            <th scope="col">Фото</th>
            <th scope="col">Ф.И.О</th>
            <th scope="col">ID</th>
            <th scope="col">Департамент</th>
            <th scope="col">Отдел</th>
        </tr>
        </thead>
        {% for keys in object_list %}
        <tbody id="Table1">
        <tr>
            <td><img src=""></a></td>
            <td><b><a href="/inventory/users/{{keys.id}}">{{keys.user_lastname}} {{keys.user_firstname}} {{keys.user_secondname}}</a></b></td>
            <td><b>{{keys.id}}</b></a></td>
            <td><b>{{keys.user_dep}}</b></td>
            <td><b>{{keys.user_otdel}}</b></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<hr class="my-4">
{% endblock %}