{% extends "Main_Templates/main_template.html"%}
{% block content %}
{% include "Include_Templates/header.html" %}
{% if request.user.is_authenticated %}
{% for group in request.user.groups.all %}
{% endfor %}
{% include "Include_Templates/requests_sidebar.html"%}
<div class="container-fluid mt-3">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
        <tr>
            <th>Номер заявки</th>
            <th scope="row">Дата создания заявки</th>
            <th scope="row">Ф.И.О</th>
            <th scope="row">Cтатус запроса</th>
            <th scope="row">Сервис</th>
            <th scope="row">Описание запроса</th>
        </tr>
        </thead>

        {% for ITEM in all_requests %}
        <tbody id="Table1" style="font-size:14px;">
        <tr>
            <td style="vertical-align: inherit;padding:0px 0px 0px 0px;width:120px; font-size:13px; font-weight:bold;">
                <div style="width:130px;margin:2px 2px 2px 2px;padding:0px 0px;" class="jumbotron">
                    <a href="/requests/detail/{{ITEM.id}}"># {{ITEM.id}}</a>
                </div>
            </td>
            <td style="vertical-align: inherit;">
                <a href="/requests/detail/{{ITEM.id}}">{{ITEM.create_date|date:"d.m.Y"}}</a></b>
            </td>
            <td style="vertical-align: inherit; padding:2px 2px;">
                <b><a>{{ITEM.author.userprofile.user_full_name}}</a></b>

            </td>
            <td style="vertical-align: inherit;">
                <b>{{ITEM.request_statuser}}</b>
            </td>
            <td style="vertical-align: inherit; padding:2px 2px;">
                <b><a>{{ITEM.approve_list.approve_service}}</a></b>

            </td>
            <td style="vertical-align: inherit;">
                <b>{{ITEM.request_desc}}</b>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% else %}
<div class="container mt-4">
    <h2>У вас нет прав доступа для просмотра данной страницы</h2>
    <p>Обратитесь к вашему системному администратору для предоставления доступа или вернитесь на главную страницу</p>
    <p><a href="/">Вернуться на главную страницу</a></p>
</div>
{% endif %}


{% endblock %}