{% extends "Main_Templates/main_template.html"%}
{% block content %}
{% include "Include_Templates/header.html" %}
{% load static %}
<script src="{% static 'lib/jquery/custom-jquery.js'%}"></script>
<!-- SCRIPT FOR CHECK SELETED SERVICES-->
<script>
function CheckServices(event){
var setter = 0;
for (let i = 0; i < 7; i++)
{
    if(document.getElementById('id_Cool_Story_'+i).checked){
        ++setter;
    }
    else{
    }
}
if(setter==0){
    alert("Не выбрано ниодного сервиса!")
    result = false;
}
else
{
    result = true;
}
console.log(result);
return result;
}
</script>


<script>
function func3(){
	var newDiv = $('<div class="listing listing_ad job"><h4><a>Some text</a></h4> </div>');
  //newDiv.style.background = "#000";
  document.getElementById('ServiceChoice').appendChild(newDiv);
}
</script>

<script>
    function func4(){
        document.getElementById('Description').value +="Информационная база: "+document.getElementById('1C_CHOICER').value;
}

    function func5(){
        document.getElementById('Description').value +=document.getElementById('ASU_VB_CHOICER').value;
    }


    function func6(){
        document.getElementById('Description').value +="Права доступа: "+document.getElementById('RULE_CHOICER').value+"\\\n";
    }
    function func7(){
        document.getElementById('Description').value +="Папка департамента : "+document.getElementById('FILE_CHOICER').value +"\\\n";
    }
</script>

{% include "Include_Templates/requests_sidebar.html"%}
<section class="features" style="min-width:350px;padding:30px">

    <div style="background-color:#343a40;outline:12px;border-radius:20px;padding:10px 10px 10px 10px;" class="container"
         id="Serv">
        <img style="background:#343a40;padding:20px 0px 15px 0px;width:300px" src="{% static 'images/Rat_Logos.png'%}">
        <div class="jumbotron" style="margin-bottom:3px; padding:3px;background-color:white;">

            <h2 class="text-center" style="padding-top:10px;margin-top:0px;margin-bottom:5px;">Заявка на доступ к
                Информационным Ресурсам</h2>
            <p id="date"></p>
            <img style="width:100%;padding:1px 0px 10px;" src="{% static 'images/line.png'%}">

            <div class="container-fluid">
                <form id="send_request" class="mt-3" method="post">{% csrf_token %}
                    <!--{{form_request}}-->
                    <!--{{form_approve.as_p}}-->
                    <h6><b>Ф.И.О Заявителя</b></h6>
                    {{form_request.user_name}}
                    <div class="row">
                        <div class="col-md-6">
                            <h6><b>Департамент заявителя</b></h6>
                            {{form_request.user_dep}}
                        </div>
                        <div class="col-md-6">
                            <h6><b>Отдел заявителя</b></h6>
                            {{form_request.user_otdel}}
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <label style="margin-left:15px;" for="outer_user">Заявка оформляется для внешнего пользователя</label>
                        <input style="margin-left:10px;position: inherit;" type="checkbox" placeholder="Для внешнего пользователя" title="Для внешнего пользователя" name="outer_user" id="outer_user">

                    </div>
                    <hr>
                    <hr class="my-3" style="border-top: 1px solid black">
                    <div class="container-fluid">
                    <div class="row">
                        <b class="form-control"><h5><b>Раздел выбора сервиса</b></h5></b>
                        <div class="col-md-4">
                            <div class="container" style="display:inline-grid;text-align:left;">
                                {% for item in form_approve.Cool_Story %}
                                {{ item }}
                                {% endfor %}
                            </div>
                            {{form_approve.Access_ID}}
                            {{form_approve.Accepter_FIO}}
                            {{form_approve.Accepted_Service}}
                            {{form_approve.Email_Accepter}}
                            {{form_approve.Accepter_Status}}
                            {{form_bosslist}}
                        </div>
                    </div>
                        </div>
                    <div class="row" style="display:none;" id="ASU_VP">
                        <hr class="my-2" style="border-top: 1px solid black">
                        <p><b>Дополнительные опции сервиса АСУ ВП</b></p>
                        <hr class="my-1" style="border-top: 1px solid black">
                    </div>
                    <div class="row" style="display:none;" id="1C_ADD">
                        <hr class="my-2" style="border-top: 1px solid black">
                        <p><b>Дополнительные опции сервиса 1C</b></p>
                        <hr class="my-1" style="border-top: 1px solid black">
                    </div>
                    <div class="row" style="display:none;" id="ASU_MR">
                        <hr class="my-2" style="border-top: 1px solid black">
                        <p><b>Дополнительные опции сервиса АСУ МР</b></p>
                        <hr class="my-1" style="border-top: 1px solid black">
                    </div>
                    <div class="row" style="display:none;" id="File_ADD">
                        <hr class="my-2" style="border-top: 1px solid black">
                        <p><b>Дополнительные опции сервиса Файловое хранилище</b></p>
                        <h5>Выберите Корневую папку:</h5>
                        <div class="text-left">{{file_deps}}</div>
                        <hr class="my-1" style="border-top: 1px solid black">
                    </div>
                    <div class="row" style="display:none;" id="Remote_ADD">
                        <hr class="my-2" style="border-top: 1px solid black">
                        <p><b>Дополнительные опции сервиса Удаленный Доступ</b></p>
                        <div class="container-fluid">
                            <div class="form-control">
                                <label for="RDP_TERMINAL" style="display:table-cell;"><input checked type="checkbox" id="RDP_TERMINAL" name="RDP_TERMINAL"> Терминальный сервер</label></div>
                            <div class="form-control">
                                <label for="RDP_PC" style="display:table-cell;"><input type="checkbox" id="RDP_PC" name="RDP_PC"> Рабочий ПК<br></label><label id='computername' for="compname" style="display:none;padding-left: 150px;">Имя вашего ПК:<input id='compname' name='compname' placeholder="w00-*" style="height: 22px;" value="{{name_pc}}"></label></div>
                                </div>
                        <hr class="my-3" style="border-top: 1px solid black">
                    </div>
                    <div class="row" style="display:none;" id="RAT_Online_ADD">
                        <hr class="my-2">
                        <p><b>Дополнительные опции сервиса РАТ@ОНЛАЙН</b></p>
                        <hr class="my-1">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Описание запроса</h6>
                            {{form_request.request_desc}}
                            {{form_request.author}}
                            {{form_request.approve_list}}
                            {{form_request.create_date}}
                            {{form_request.creator}}
                            {{form_request.request_statuser}}
                        </div>
                    </div>


                    <!--{{form_sendmail}}-->
                    <div class="row">
                        <div class="col-md-12">
                            <button form="send_request" class="btn btn-primary mt-3 mb-3 btn-block"
                                    style="background-color:Green;" type="submit" onclick="return CheckServices()">
                                Отправить на
                                согласование
                            </button>
                        </div>
                    </div>
                </form>
                <script>
                let currDate =
                new Date().toLocaleDateString('ru-RU');
                    document.getElementById("date").innerHTML = currDate;

                </script>
                </form>

            </div>
        </div>
    </div>
</section>


{% endblock %}




