{% extends "Main_Templates/main_template.html"%}
{% block content %}
{% include "Include_Templates/header.html" %}
{% if request.user.is_authenticated %}
{% include "Include_Templates/requests_sidebar.html"%}
<div style="position: relative;min-height: 67.2vh;">
<H3 class="text-center">Заявки на согласование: {{user.userprofile.user_last_name}}
    {{user.userprofile.user_first_name}} {{user.userprofile.user_second_name}} <p>Общее количестко заявок: <b>{{request_for_accept.count}}</b>
    </p></H3>
{% if request_for_accept.count != 0 %}

<div style="font-size:13px;" class="container-fluid">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="row">Номер заявки</th>
                <th scope="row">Заявитель</th>
                <th scope="row">Сервисы</th>
                <th scope="row">Руководитель Заявителя</th>
                <th scope="row">Статус согласования Руководителя</th>
                <th scope="row">Специалист ИБ</th>
                <th scope="row">Статус согласования ИБ</th>
                <th scope="row">Описание запроса</th>
                <th scope="row">Статус заявки</th>
            </tr>
            </thead>
            <tbody id="Table1">
             {% for ITEM in all_req %}
               {% for accept_task in request_for_accept %}
                {% if accept_task.Access_ID == ITEM.id %}
            <tr>
                <td style="vertical-align: inherit;padding:0px 0px 0px 0px;width:120px; font-size:18px;">
                    <div style="width:130px;margin:2px 2px 2px 2px;" class="jumbotron">
                        <a href="/requests/detail/{{ITEM.id}}">#{{ITEM.id}}</a>
                    </div>
                </td>
                <td style="vertical-align: inherit;">
                    <b><a
                            href="/requests/detail/{{ITEM.id}}">{{ITEM.author.userprofile.user_full_name}}</a></b>
                </td>
                <td style="vertical-align: inherit;">
                    {% for service in service_requests %}
                    {% if ITEM.id == service.Access_ID.id %}
                    <b>{{service.Accepted_Service}}</b><br>
                    {% endif %}
                    {% endfor %}
                </td>
                <!--<td style="vertical-align: inherit; width:15%">
                    {% for service in service_requests %}
                    {% if ITEM.id == service.Access_ID.id %}
                    <b>{{service.Accepter_FIO}}</b><br>
                    {% endif %}
                    {% endfor %}

                </td>
                <td style="vertical-align: inherit;">
                    <b>{{ITEM.approve_list.approve_status_owner}}</b>
                </td>-->
                <td style="vertical-align: inherit;">
                    <b>{{ITEM.approve_list.user_boss}}</b>
                </td>
                <td style="vertical-align: inherit;">
                    <div class="container"><b>{{ITEM.approve_list.approve_status_boss}}</b></div>
                </td>
                <td style="vertical-align: inherit;">
                    <div class="container"><b>{{ITEM.approve_list.ib_spec}}</b></div>
                </td>
                <td style="vertical-align: inherit;">
                    <div class="container"><b>{{ITEM.approve_list.approve_status_ib}}</b></div>
                </td>
                <td style="vertical-align: inherit;">
                    <div class="container"><b>{{ITEM.request_desc}}</b></div>
                </td>
                <td style="vertical-align: inherit;">
                    <div class="container"><b>{{ITEM.request_statuser}}</b></div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}

            </tbody>

        </table>
    </div>
</div>
</div>
{% else %}
<hr class="my-1">
<div style="position: relative;
  min-height: 67.2vh;">
<div class="container">
    <h3>На данный момент нет заявок для согласования.</h3>
</div>
</div>
{% endif %}
{% endif %}

{% endblock %}