{% extends "Main_Templates/main_template.html"%}
{% block content %}
{% include "Include_Templates/header.html" %}
{% if request.user.is_authenticated %}
{% include "Include_Templates/requests_sidebar.html"%}
{% load static %}
<script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
<script>


function ModalOpen() {
  var modal = document.getElementById("comment_add");
  console.log("Открываем модальное окно");
  modal.style.display = "block";
}
function ModalClose() {
  var modal = document.getElementById("comment_add");
  console.log("Открываем модальное окно");
  modal.style.display = "none";
}

</script>
<script>
$(document).ready(function() {
        $(".export-pdf").click(function() {
        console.log("ПОшли")
        // Convert the DOM element to a drawing using kendo.drawing.drawDOM
        kendo.drawing.drawDOM($(".content-wrapper"))
        .then(function(group) {
            // Render the result as a PDF file
            return kendo.drawing.exportPDF(group, {
                paperSize: "auto",
                margin: { left: "0cm", top: "0cm", right: "0cm", bottom: "0cm" }
            });
        })
        .done(function(data) {
            // Save the PDF file
            var Element =  $("#id_task").text();
            console.log(Element)
            kendo.saveAs({
                dataURI: data,
                fileName: Element + ".pdf",

            });
        });
    });
    });
</script>
<script>
    // Import DejaVu Sans font for embedding

    // NOTE: Only required if the Kendo UI stylesheets are loaded
    // from a different origin, e.g. cdn.kendostatic.com
    kendo.pdf.defineFont({
        "DejaVu Sans"             : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold"        : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic" : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic"      : "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "WebComponentsIcons"      : "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
    });
</script>
{% if request.user.userprofile.user_full_name == get_request.author.userprofile.user_full_name or request.user.userprofile.user_full_name == get_request.creator.userprofile.user_full_name or request.user.userprofile.user_full_name == get_request.approve_list.user_boss or access_checker == True or request.user.userprofile.user_full_name == get_request.approve_list.ib_spec.specialist_ib.userprofile.user_full_name  %}

<div class="container">
    <div style="background-color:#343a40;outline:12px;border-radius:20px;padding:10px 10px 10px 10px;"
         class="container text-center"
         id="Serv">
        <img style="background:#343a40;padding:20px 0px 15px 0px;width:300px" src="{% static 'images/Rat_Logos.png'%}">
        <input type="image" class="export-pdf" src="{% static 'images/pdf.png' %}">
        <div class="jumbotron content-wrapper" id="content-wrapper" style="margin-bottom:3px; padding:3px;background-color:white;">
            <h3 id="id_task" class="text-center" style="font-family:Arial;">Заявка на доступ №{{get_request.id}} от {{get_request.create_date|date:'d.m.Y'}}</h3>
            <b>Заявитель</b> <a class="form-control" style="font-size:24px">{{ get_request.author.userprofile }}</a>
            <hr>
            <div class="row">
                <div class="container-fluid">
                    <b>Компания</b> <a class="form-control">{{ access_company }}</a>
                </div>
                <div class="col-8 my-2">
                    <b>Департамент</b> <a class="form-control">{{ get_request.author.userprofile.user_dep }}</a>
                    <b>Отдел</b> <a class="form-control">{{ get_request.author.userprofile.user_otdel }}</a>
                    <b>Должность</b> <a class="form-control">{{ get_request.author.userprofile.user_position }}</a>
                </div>
                <div class="col-4 my-2">
                    <b>Телефон</b> <a class="form-control">{{ get_request.author.userprofile.user_telephone}}</a>
                    <b>Email</b> <a class="form-control" href="mailto:{{ get_request.author.userprofile.user_email }}">
                    {{get_request.author.userprofile.user_email }}</a>
                    {% if get_request.author.userprofile.user_mobile != null %}
                    <b>Мобильный</b> <a class="form-control">{{ get_request.author.userprofile.user_mobile }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-2">
                    <b>Описание запроса</b>

                    <a class="form-control">
                        <textarea readonly style="text-align: center;overflow:hidden;border: none;height:150px;display:inline-block;resize: none;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;width:100%;">{{ get_request.request_desc }}</textarea></a>
                </div>
            </div>
            <hr>
            <h3>Раздел согласования</h3>
            {% if access_company.id == 1 %}
            <div class="row">
                <div class="col-8 my-2">
                    <b>Руководитель заявителя</b>
                    <form name="approver_boss" id="approver_boss">{% csrf_token %}
                    <a class="form-control"><b>
                    {{ get_request.approve_list.user_boss }}</b>
                    {% if get_request.approve_list.user_boss in user.userprofile.user_full_name and get_request.approve_list.approve_status_boss == "Ожидание согласования" %} |
                        {{approver.approve_choicer}}
                    <button form="approver_boss" formmethod="POST" class="btn-success" type="submit" value="Accepted" style="border-radius:7px;">
                        <b>Отправить</b></button>
                        {% endif %}
                    </a>
                    </form>
                </div>
                <div class="col-4 my-2">
                    <b>Статус</b> <a class="form-control"
                    style="{% if get_request.approve_list.approve_status_boss in 'Согласовано' %} color:green; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_boss in 'Не согласовано' %} color:Red; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_boss in 'Ожидание согласования'%} color:#e56607; font-weight:bold; {% endif %}">
                    {{ get_request.approve_list.approve_status_boss }}
                </a>
                </div>
            </div>
            {% else %}
            <div class="row">
            <div class="col-8 my-2">
                    <b>Директор ДИТ</b>
                    <form name="approver_boss" id="approver_boss">{% csrf_token %}
                    <a class="form-control"><b>
                    {{ get_request.approve_list.user_boss }}</b>
                    {% if get_request.approve_list.user_boss in user.userprofile.user_full_name and get_request.approve_list.approve_status_boss == "Ожидание согласования" %} |
                        {{approver.approve_choicer}}
                    <button form="approver_boss" formmethod="POST" class="btn-success" type="submit" value="Accepted" style="border-radius:7px;">
                        <b>Отправить</b></button>
                        {% endif %}
                    </a>
                    </form>
                </div>
                <div class="col-4 my-2">
                    <b>Статус</b> <a class="form-control"
                    style="{% if get_request.approve_list.approve_status_boss in 'Согласовано' %} color:green; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_boss in 'Не согласовано' %} color:Red; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_boss in 'Ожидание согласования'%} color:#e56607; font-weight:bold; {% endif %}">
                    {{ get_request.approve_list.approve_status_boss }}
                </a>
                </div>
            </div>
            {% endif %}
            <!--<div class="row">
                <div class="col-8 my-2">
                    <b>Владелец сервиса</b>
                    <form name="approver_owner" id="approver_owner">{% csrf_token %}
                        <a class="form-control">
                            <b>{{ get_request.approve_list.service_owner }}</b>
                            {% if get_request.approve_list.service_owner in user.userprofile.user_full_name and get_request.approve_list.approve_status_owner == "Ожидание согласования" %}
                            {{approver.approve_choicer}}
                            <button form="approver_owner" formmethod="POST" type="submit" class="btn-success" ><b>Отправить</b></button>
                        {% endif %}
                        </a>
                    </form>



                </div>
                <div class="col-4 my-2">
                    <b>Статус</b> <a class="form-control"
                    style="{% if get_request.approve_list.approve_status_owner in 'Согласовано' %} color:green; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_owner in 'Не согласовано' %} color:Red; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_owner in 'Ожидание'%} color:#e56607; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_owner in 'Ожидание согласования'%} color:#e56607; font-weight:bold; {% endif %}">
                    {{ get_request.approve_list.approve_status_owner }}
                </a>
                </div>
            </div>-->

            {% for service in services_request %}
            <div class="row">
                <div class="col-4 my-2">
                    <b>Владелец сервиса</b>
                        <a class="form-control">
                             <b>{{ service.Accepter_FIO }}</b>
                        </a>
                </div>
                {% if service.Accepter_FIO == request.user.userprofile.user_full_name and service.Accepter_Status == "Ожидание согласования" %}
                <div class="col-2 my-2" style="margin-left:0px;padding-left:0px;">
                    <b>Сервис</b>
                        <a class="form-control" style="align-text:left;padding-left:1px;margin-left:0px;">
                             <b> {{ service.Accepted_Service }}</b>
                        </a>
                </div>
                <div class="col-3 my-2">
                    <b>Согласование</b>
                        <a class="form-control" style="align-text:left;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;">
                            <form name="accept_service" id="accept_service_{{service.Accepted_Service}}">{% csrf_token %}
                                <button formmethod="POST" name="ACCEPTED_{{service.Accepted_Service}}" form="accept_service_{{service.Accepted_Service}}"  value="{{service.Accepted_Service}}" style="background-color:#33cc33;border-radius: 7px; color:#262626;"><b>Согласовать</b></button>
                                <button formmethod="POST" name="DECLINED_{{service.Accepted_Service}}" form="accept_service_{{service.Accepted_Service}}"  value="{{service.Accepted_Service}}" style="background-color:#ff3333;border-radius: 7px;color:#262626;"><b>Отклонить</b></button>
                            </form>
                        </a>
                </div>

                <div class="col-3 my-2">
                    <b>Статус</b>
                    <a class="form-control"
                    style="{% if service.Accepter_Status in 'Согласовано' %} color:green; font-weight:bold; {% endif %}
                    {% if service.Accepter_Status in 'Не согласовано' %} color:Red; font-weight:bold; {% endif %}
                    {% if service.Accepter_Status in 'Ожидание согласования'%} color:#e56607; font-weight:bold; {% endif %}">
                    {{ service.Accepter_Status }}
                    </a>
                </div>
                {% else %}
                <div class="col-4 my-2" style="margin-left:0px;padding-left:0px;">
                    <b>Сервис</b>
                        <a class="form-control" style="align-text:left;padding-left:1px;margin-left:0px;">
                             <b> {{ service.Accepted_Service }}</b>
                        </a>
                </div>
                <div class="col-4 my-2">
                    <b>Статус</b>
                    <a class="form-control"
                    style="{% if service.Accepter_Status in 'Согласовано' %} color:green; font-weight:bold; {% endif %}
                    {% if service.Accepter_Status in 'Не согласовано' %} color:Red; font-weight:bold; {% endif %}
                    {% if service.Accepter_Status in 'Ожидание согласования'%} color:#e56607; font-weight:bold; {% endif %}">
                    {{ service.Accepter_Status }}
                    </a>
                </div>
                {% endif %}
             </div>
                {% endfor %}

            <div class="row">
                <div class="col-8 my-2">
                    <form name="approver_ib" id="approver_ib">{% csrf_token %}
                    <b>Специалист ИБ</b> <a class="form-control"><b>{{ get_request.approve_list.ib_spec }}</b>
                    {% if get_request.approve_list.ib_spec.specialist_ib.userprofile == user.userprofile and get_request.approve_list.approve_status_ib == "Ожидание согласования" %} |
                    {{approver.approve_choicer}}

                     <button form="approver_ib" formmethod="POST" type="submit" class="btn-success" style="border-radius:7px;"><b>Отправить</b></button>
                    {% endif %}
                </a>
                        </form>
                </div>
                <div class="col-4 my-2">
                    <b>Статус</b> <a class="form-control"
                    style="{% if get_request.approve_list.approve_status_ib in 'Согласовано' %} color:green; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_ib in 'Не согласовано' %} color:Red; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_ib in 'Ожидание'%} color:#e56607; font-weight:bold; {% endif %}
                    {% if get_request.approve_list.approve_status_ib in 'Ожидание согласования'%} color:#e56607; font-weight:bold; {% endif %}">
                    {{ get_request.approve_list.approve_status_ib}}
                </a>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    {% if checker_comments == False or checker_approve == False %}
                    <h3>Раздел комментариев</h3>
                    <button onclick="ModalOpen()"  type="button" class="btn-success" style="border-radius:7px;">Добавить комментарий</button>
                    <hr>
                    {% if get_request.comments == '' or get_request.comments == Null %}
                    {% else%}
                    <!--<h3>Раздел комментариев</h3>-->
                    <a class="form-control"><textarea readonly style="text-align:left;overflow:hidden;border: none;height:150px;display:inline-block;resize: none;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;width:100%;">{{ get_request.comments}}</textarea></a>
                    {% endif %}
                    {% else %}
                    {% if get_request.comments == '' or get_request.comments == Null %}
                    {% else%}
                    <h3>Раздел комментариев</h3>
                    <a class="form-control"><textarea readonly style="text-align:left;overflow:hidden;border: none;height:150px;display:inline-block;resize: none;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;width:100%;">{{ get_request.comments}}</textarea></a>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
                    {% if get_request.creator.userprofile == get_request.author.userprofile%}
                    {% else %}
                    <p style="font-size:11px;" class="text-right">Создатель заявки: {{get_request.creator.userprofile}}</p>
                    {% endif %}
        </div>
    </div>
</div>

{% else %}
<div class="jumbotron" style="min-height:68vh">
    <div class="container">
        <h2>Отказано в доступе к заявке</h2>
        <button class="btn btn-primary" type="button"><a href="/">Вернуться на главную страницу</a></button>
        </div>
    </div>
{% endif %}
{% endif %}
<style>
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
    </style>
<div style="display:none;" class="modal" role="dialog" id="comment_add">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="container txt-box">
                <form id="modal_comment" role="form" method="post">
                    {% csrf_token %}
                    <h5>Укажите комментарий или замечаниe</h5>
                    <textarea name="comment_text" style="margin-top: 0px;margin-bottom: 0px;width: 100%;height: 200px;"></textarea>
                    <button class="btn-success" name="modal_comment_btn" type="submit"  style="border-radius:7px;" formmethod="POST">
                        Отправить
                    </button>
                    <button value="modal_comment_reset" onclick="ModalClose()" style="background-color:red;border-radius:7px;" class="btn-success" type="reset" formmethod="POST">
                        Отмена
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}



